@charset "UTF-8";
.elegirMarcaPC .recuadroElegirMarcaPCIntel, .elegirMarcaPC .recuadroElegirMarcaPCAMD {
  width: 29vw;
  height: 28vh;
  background-size: contain;
  background-repeat: no-repeat; }

section.cardContainerSponsors.row.container.text-center {
  margin: auto;
  padding: 0; }

.textSponsors {
  display: flex;
  max-width: 50vw;
  text-align: center; }

.cardContainerSponsors {
  display: flex;
  justify-content: center;
  gap: 10px; }

.sponsorCard {
  height: 380px;
  width: 230px;
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.cardCuerpo {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .cardCuerpo h5 {
    font-size: 15px;
    font-weight: bold; }

.sponsorsImagenAMD {
  background-position: center;
  background-size: cover;
  width: 200px;
  height: 200px;
  background-image: url(../images/amd.png); }

.sponsorsImagenIntel {
  background-position: center;
  background-size: cover;
  width: 200px;
  height: 200px;
  background-image: url(../images/intel.png); }

.sponsorsImagenRedragon {
  background-position: center;
  background-size: cover;
  width: 200px;
  height: 200px;
  background-image: url(../images/redragon.png); }

.sponsorsImagenRazer {
  background-position: center;
  background-size: cover;
  width: 200px;
  height: 200px;
  background-image: url(../images/razer.png); }

.sponsorsImagenLogitech {
  background-position: center;
  background-size: cover;
  width: 200px;
  height: 200px;
  background-image: url(../images/logitech.png); }

.sponsorsImagenHyperX {
  background-position: center;
  background-size: cover;
  width: 200px;
  height: 200px;
  background-image: url(../images/hyperx.png); }

.sponsorsImagenCorsair {
  background-position: center;
  background-size: cover;
  width: 200px;
  height: 200px;
  background-image: url(../images/corsair.png); }

.sponsorsImagenCoolermaster {
  background-position: center;
  background-size: cover;
  width: 200px;
  height: 200px;
  background-image: url(../images/coolermaster.png); }

.sponsorsImagenAsus {
  background-position: center;
  background-size: cover;
  width: 200px;
  height: 200px;
  background-image: url(../images/asus.png); }

/* Elección de marca de CPU para el ensamble */
.elegirMarcaPC {
  display: flex;
  justify-content: space-around;
  /* Contenedor logotipo Intel en elección de CPU para ensamble */
  /* Contenedor logotipo AMD en elección de CPU para ensamble */ }
  .elegirMarcaPC .recuadroElegirMarcaPCIntel {
    background-image: url(../images/intelrecuadro.png); }
  .elegirMarcaPC .recuadroElegirMarcaPCAMD {
    background-image: url(../images/amdrecuadro.png); }

.sobreNosotrosTexto {
  max-width: 95vw; }

/* Diseño página contacto */
.datosContacto {
  height: 30px;
  width: 300px;
  border-radius: 5px;
  border: solid 1px black; }

.gapRadioContacto {
  display: flex;
  gap: 10px; }

.textAreaContacto {
  border-radius: 5px;
  width: 376px; }

.enviarResetContacto {
  display: flex;
  width: 20vw;
  height: 30px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  justify-content: center;
  background-color: #ff0038;
  color: #fff; }
  .enviarResetContacto:hover {
    background-color: var(--colorCorporativoDark);
    color: #ffffff;
    transition: 0.2s; }

.iconosColorCorporativoContacto {
  padding-right: 5px;
  color: var(--colorCorporativo); }

/* Estilo con grid enpágina de contacto */
.gridContacto {
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center; }

.gridContactoDerecha {
  display: flex;
  padding-left: 200px;
  flex-direction: column; }

.gridContactoIzquierda {
  display: flex;
  flex-direction: column; }

.input {
  border: none; }

::placeholder {
  text-align: center; }

/* ============================== Inicio footer ============================== */
.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--colorCorporativo);
  padding-top: 10px;
  margin-top: auto;
  text-align: center; }

.secciones {
  display: flex;
  flex-direction: column;
  align-items: center; }

.seccionesFooter {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width: 140px; }
  .seccionesFooter a {
    text-decoration: none;
    color: black;
    width: 140px; }
    .seccionesFooter a:hover {
      color: white;
      font-weight: 700;
      transition: 0.2s; }

.socialFooter {
  color: black;
  padding: 10px; }
  .socialFooter:hover {
    color: white;
    transition: 0.2s; }

.botonesContacto {
  font-size: 30px;
  text-align: center; }
  .botonesContacto p {
    font-size: initial;
    padding-bottom: 10px; }

.ubicacionFooter {
  margin: 20px;
  font-size: initial; }
  .ubicacionFooter a {
    color: black; }
    .ubicacionFooter a:hover {
      color: white;
      transition: 0.2s;
      font-weight: 700; }

.copyrightFooter {
  padding: 10px;
  background-color: var(--colorCorporativoDark); }
  .copyrightFooter a {
    color: black; }

.copyrightFooterContainer {
  display: flex;
  justify-content: center;
  background-color: var(--colorCorporativoDark);
  grid-area: 2 / 1 / 3 / 4;
  margin-top: 10px; }

.tarjetasFooter {
  height: 25px; }

.tarjetasFooterDiv {
  display: grid;
  grid-template-columns: repeat(3, 5%);
  grid-template-rows: 20% 20%;
  gap: 20px;
  justify-content: center; }

/* ======================= Slider Promocional Main =======================*/
/* Comienzo main */
.main {
  background-color: var(--colorFondo); }

h4 {
  font-size: 16px;
  font-weight: 700; }

/* Boton whatsapp index fixed */
.botonWhatsapp {
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  background-color: #0df053;
  color: white;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100; }
  .botonWhatsapp:hover {
    text-decoration: none;
    background-color: white;
    color: #0df053;
    transition: 0.2s; }

.sponsorsMain {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  background-color: #e5e5e5;
  height: 15vh;
  justify-items: center;
  align-content: space-evenly; }

.sliderSponsors {
  height: 140px; }
  .sliderSponsors:hover {
    transform: scale(1.2);
    transition: 0.2s; }

.productosRecomendados {
  display: grid;
  justify-content: center;
  grid-template-columns: 20% 10% 10% 10% 10%;
  grid-template-rows: 0.5fr 0.5fr;
  gap: 20px 20px;
  margin: 20px 0px;
  grid-auto-flow: row;
  grid-template-areas: "prodRecomBanner prodRecom1 prodRecom1 prodRecom2 prodRecom2" "prodRecomBanner prodRecom3 prodRecom3 prodRecom4 prodRecom4"; }

.prodRecomTitulo {
  font-size: 15px;
  font-weight: 700;
  text-align: center; }

.prodRecomBanner {
  grid-area: prodRecomBanner;
  overflow: hidden; }

.prodRecomBanner img {
  width: 370px; }

.prodRecom1 {
  grid-area: prodRecom1;
  background-color: #ebebeb; }

.prodRecom2 {
  grid-area: prodRecom2;
  background-color: #ebebeb; }

.prodRecom3 {
  grid-area: prodRecom3;
  background-color: #ebebeb; }

.prodRecom4 {
  grid-area: prodRecom4;
  background-color: #ebebeb; }

.prodRecomBoxShadow:hover {
  transform: scale(1.01);
  transition: 0.2s;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3); }

.fotosSlider {
  width: 100vw;
  height: 30vw; }

/* Clase para cuando necesite aplicar color negro a los anclas (reemplaza a 3 clases distintas anteriores)*/
.colorNegro {
  color: black; }

.categoriasLiStyle {
  padding-top: 10px;
  list-style: none; }

.sliderPromocional {
  display: flex;
  position: relative;
  max-height: 100%;
  overflow: hidden; }
  .sliderPromocional img {
    display: block;
    width: 100vw;
    height: auto; }

h1 {
  display: none; }

.highlightedText {
  color: var(--colorCorporativo); }

.darkHighlightedText {
  color: var(--colorCorporativoDark); }

.anchor {
  color: white;
  text-decoration: none; }
  .anchor:hover {
    color: #ff0038;
    transition: all 0.3s; }

#boton-carrito {
  color: black;
  font-size: 20px;
  transition: all 0.3s;
  margin-left: 10px;
  background-color: transparent;
  border: none; }
  #boton-carrito:hover {
    cursor: pointer;
    color: #ff0038;
    transition: all 0.3s; }
  #boton-carrito:focus {
    outline: none; }

#contenedor-productos {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }

/* Tarjeta contenedora del producto */
.producto {
  max-width: 30%;
  padding: 10px;
  margin: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  color: black;
  border-radius: 5px; }
  .producto:hover {
    transform: scale(1.01);
    transition: all 0.3s; }

.precioProducto {
  font-weight: 700;
  color: black; }

.containerBtnModal {
  display: flex;
  justify-content: space-between; }

.boton-agregar {
  background-color: var(--colorCorporativo);
  color: white;
  font-size: 18px;
  font-weight: 700;
  padding: 5px;
  border: none; }
  .boton-agregar:hover {
    cursor: pointer;
    background-color: var(--colorCorporativoDark);
    transition: all 0.3s; }
  .boton-agregar:focus {
    outline: none; }

.boton-comprar {
  background-color: #15b206;
  color: white;
  font-size: 18px;
  font-weight: 700;
  padding: 5px;
  border: none; }
  .boton-comprar:hover {
    cursor: pointer;
    background-color: #108c04;
    transition: all 0.3s; }
  .boton-comprar:focus {
    outline: none; }

.contenedorBotonAgregarCarrito {
  display: flex;
  justify-content: center; }

.modal-contenedor {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden; }

.modal-active {
  opacity: 1;
  visibility: visible;
  z-index: 100; }

.modal-carrito {
  position: relative;
  background-color: white;
  min-width: 500px;
  padding: 20px;
  margin-top: -100%;
  transition: all 0.5s; }

.modal-active .modal-carrito {
  margin-top: 0; }

.modal-carrito h3 {
  color: #ff0038;
  padding-bottom: 5px; }

.modal-carrito #carritoCerrar {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  color: #ff0038;
  border: none; }
  .modal-carrito #carritoCerrar:hover {
    cursor: pointer; }
  .modal-carrito #carritoCerrar:focus {
    outline: none; }

.btnCarritoCerrar {
  background-color: #ffffff; }

.fa-times-circle {
  background-color: white; }
  .fa-times-circle:hover {
    color: var(--colorCorporativoDark);
    transition: all 0.3s; }

.modal-carrito .precioProducto {
  padding-top: 10px; }

.productoEnCarrito {
  border-left: 5px solid lightgray;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin: 5px 0;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between; }
  .productoEnCarrito p {
    color: black; }
  .productoEnCarrito:hover {
    border-left: 5px solid #ff0038;
    transition: all 0.3s; }

.boton-eliminar {
  background-color: white;
  color: var(--colorCorporativo);
  border: none;
  font-size: 20px; }
  .boton-eliminar:hover {
    color: var(--colorCorporativoDark);
    transition: all 0.3s;
    cursor: pointer; }
  .boton-eliminar:focus {
    outline: none; }

.carritoVacioMsj {
  color: black; }

/* Rectángulo de color corporativo arriba del header */
.rectanguloCabecera {
  width: 100vw;
  height: 0.5vh;
  min-height: 0.5vh;
  background-color: var(--colorCorporativo); }

/* Navbar logotipo */
.navbar-brand {
  font-size: 30px;
  font-weight: 700; }
  .navbar-brand:hover {
    transform: scale(0.98);
    transition: 0.2s; }

.nav-link {
  font-weight: 700;
  color: black; }
  .nav-link:hover {
    color: var(--colorCorporativo);
    transition: 0.2s; }

.navbar,
.navbar-expand-lg {
  background-color: white; }

.settings {
  display: flex;
  margin-right: 20px;
  align-items: center; }
  .settings a {
    text-decoration: none;
    color: black; }
    .settings a:hover {
      color: var(--colorCorporativo);
      transition: 0.2s; }

.settingsText {
  display: none; }

/* Estilo personalizado botones */
.btn {
  display: flex;
  flex-direction: row;
  width: 200px;
  justify-content: center;
  background-color: var(--colorCorporativo);
  border: 0;
  color: white;
  box-shadow: none; }
  .btn:hover {
    background-color: var(--colorCorporativoDark);
    transition: 0.2s; }
  .btn:focus {
    background-color: var(--colorCorporativoDark);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.293); }
  .btn[type="submit"] {
    --bs-btn-focus-shadow-rgb: none; }

.contadorCarrito {
  font-size: 16px; }

/* Estilo acordion "sobre nosotros" */
.accordion-button:not(.collapsed) {
  background-color: var(--colorCorporativoLight);
  color: black; }

/* Usuario y ajustes navbar */
.navSettings {
  font-size: 20px;
  margin-left: 20px; }

.settings .dropdown-item:hover {
  background-color: var(--colorCorporativo);
  color: white; }

/* Boton desplegable en el boton de ajustes navnar */
.dropdown-item a:focus,
.dropdown-item:hover {
  background-color: var(--colorCorporativo);
  color: white;
  transition: 0.2s; }

.dropdown-menu,
.show {
  --bs-dropdown-bg: rgba(255, 255, 255, 0.919);
  --bs-dropdown-link-active-bg: var(--colorCorporativo); }

.form-control::placeholder {
  text-align: left; }

.dropdown-divider {
  filter: invert(100); }

.btn:disabled {
  background-color: var(--colorCorporativoDark);
  color: white; }

.contenedorMainLogin {
  display: flex;
  justify-content: center; }

.contenedorLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e5e5e5;
  width: 30vw;
  min-height: 50vh;
  border-radius: 7px; }

.formLogin {
  display: flex;
  flex-direction: column; }

.formInput {
  width: 300px;
  border: none;
  position: absolute;
  border-radius: 5px; }
  .formInput::placeholder {
    text-align: left; }

.togglePassword {
  position: relative;
  left: 83%;
  top: 2px;
  cursor: pointer; }

.btnForm {
  border: none;
  background-color: var(--colorCorporativo);
  color: white;
  width: 325px;
  border-radius: 50px; }
  .btnForm:hover {
    background-color: var(--colorCorporativoDark);
    transition: all .3s; }

.forgotPassword {
  text-align: right; }

.contenedorMetodosLogin {
  display: flex;
  justify-content: center;
  gap: 25px; }

.metodoLogin {
  background-color: white;
  border-radius: 5px;
  cursor: pointer; }

.loginAnchor {
  color: gray; }
  .loginAnchor:hover {
    color: var(--colorCorporativo);
    transition: all .3s; }

.iconosLogin {
  padding-right: 10px; }

.notShown {
  display: none; }

.contenedorEmpresasAfiliadas {
  background-color: white;
  min-height: 50vh; }

.afiliadosMain {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  flex-wrap: wrap; }

.afiliadoCard {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  min-height: 400px;
  width: 250px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px; }
  .afiliadoCard:hover {
    transform: scale(1.01);
    transition: all 0.3s; }
  .afiliadoCard img {
    max-width: 250px; }

.afiliadosBtn {
  display: flex;
  align-items: center;
  gap: 5px; }
  .afiliadosBtn:hover {
    color: white; }

:root {
  --colorCorporativo: #ff0038;
  --colorCorporativoLight: #feadbfbd;
  --colorCorporativoDark: #e00131;
  --colorFondo: #ededed;
  --darkMode: #181818;
  --lightDarkMode: #2e2e2e; }

* {
  font-family: sans-serif;
  box-sizing: border-box; }

body {
  display: flex;
  /* Footer siempre abajo */
  flex-direction: column;
  min-height: 100vh;
  /* Eliminar scroll lateral */
  overflow-x: hidden;
  background-color: var(--colorFondo); }
  body.dark .navbar {
    color: white;
    background-color: #181818; }
  body.dark .navbar-brand {
    content: url("../images/logotipoheaderblanco.png"); }
  body.dark .nav-link {
    color: white; }
    body.dark .nav-link:hover {
      color: var(--colorCorporativo);
      transition: all 0.3s; }
  body.dark .navSettings {
    color: white; }
    body.dark .navSettings:hover {
      color: var(--colorCorporativo);
      transition: all 0.3s; }
  body.dark .settingsText {
    color: white; }
  body.dark .dropdown-menu {
    background-color: #181818; }
  body.dark .dropdown-toggle {
    color: white; }
  body.dark .dropdown-item {
    color: white; }
  body.dark .navbar-toggler {
    background-color: white; }
  body.dark .sponsorsMain {
    background-color: #181818; }
  body.dark .imgSponsors,
  body.dark .card-img-top {
    filter: invert(100%); }
  body.dark .main {
    color: white;
    background-color: #202020; }
  body.dark .sponsorCard {
    background-color: #181818; }
  body.dark .div-remaining {
    background-color: #202020; }
  body.dark .accordion-button {
    background-color: #181818;
    color: white; }
  body.dark .accordion-header {
    background-color: #181818; }
  body.dark .accordion-body {
    color: white;
    background-color: #2e2e2e; }
  body.dark .contenedorLogin {
    background-color: #181818; }
  body.dark .formInput {
    background-color: #202020;
    border: none;
    color: white; }
  body.dark .input {
    background-color: #181818;
    border: none;
    color: gray; }
  body.dark .contenedorMetodosLogin {
    display: flex;
    justify-content: center;
    gap: 25px; }
  body.dark .metodoLogin {
    background-color: #202020;
    border-radius: 5px;
    cursor: pointer; }
  body.dark .githubLogo {
    filter: invert(100%); }
  body.dark #boton-carrito {
    color: white;
    font-size: 20px;
    transition: all 0.3s;
    margin-left: 10px;
    background-color: transparent;
    border: none; }
  body.dark .producto {
    max-width: 30%;
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
    box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.3);
    background-color: #181818;
    color: white;
    border-radius: 5px; }
  body.dark .modal-contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden; }
  body.dark .modal-active {
    opacity: 1;
    visibility: visible; }
  body.dark .modal-carrito {
    position: relative;
    background-color: #181818;
    min-width: 500px;
    padding: 20px;
    margin-top: -100%;
    transition: all 0.5s; }
  body.dark .modal-active .modal-carrito {
    margin-top: 0; }
  body.dark .modal-carrito h3 {
    color: var(--colorCorporativo);
    padding-bottom: 5px; }
  body.dark .modal-carrito #carritoCerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: var(--colorCorporativo);
    border: none; }
  body.dark .btnCarritoCerrar {
    background-color: #181818; }
  body.dark .fa-times-circle:hover {
    color: var(--colorCorporativoDark);
    transition: all 0.3s; }
  body.dark .fa-times-circle {
    background-color: #181818; }
  body.dark .productoEnCarrito {
    border-left: 5px solid white;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between; }
  body.dark .productoEnCarrito:hover {
    border-left: 5px solid var(--colorCorporativo); }
  body.dark .productoEnCarrito p {
    color: white; }
  body.dark .boton-eliminar {
    background-color: #181818;
    color: var(--colorCorporativo);
    border: none;
    font-size: 20px; }
  body.dark .boton-eliminar:hover {
    color: var(--colorCorporativoDark);
    transition: all 0.3s; }
  body.dark .boton-eliminar:hover {
    cursor: pointer; }
  body.dark .boton-eliminar:focus {
    outline: none; }
  body.dark .precioProducto {
    color: white; }
  body.dark .carritoVacioMsj {
    color: white; }
  body.dark .afiliadoCard {
    background-color: #181818;
    color: white; }

/* Solución para imagenes borrosas al usar "transform: scale()", sacado de stack overflow */
.imgSponsors {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -ms-transform: translateZ(0);
  /* IE 9 */
  -webkit-transform: translateZ(0);
  /* Chrome, Safari, Opera */
  transform: translateZ(0); }

/* Clase para aplicarle al main para darle padding sin afectar nada mas */
.paddingMain {
  padding: 30px; }

/* Clase para aplicar magin en caso de que sea necesario */
.margin {
  margin-top: 20px;
  margin-bottom: 20px; }

/* Padding para alejar un poco algunos elementos para abajo en caso de ser necesario sin crear más clases */
.paddingBottom {
  padding-bottom: 20px; }

.miniPaddingBottom {
  padding-bottom: 5px; }

.paddingTop {
  padding-top: 20px; }

.paginaSeleccionada {
  color: var(--colorCorporativo); }

.div-remaining {
  flex: 1; }

.boldTitle {
  font-weight: bold; }

.displayNone {
  display: none; }

.textCenter {
  text-align: center; }

::selection {
  background-color: var(--colorCorporativoLight); }

@media screen and (max-width: 2560px) and (min-width: 1440px) {
  .bannerArmaTuPcMobile, .microprocesadorIntelMobile, .microprocesadorAmdMobile {
    display: none; }
  .tarjetaDeVideoNvidiaMobile, .tarjetaDeVideoAmdMobile, .tarjetaDeVideoIntelMobile {
    display: none; } }

/* Laptop L  */
@media screen and (max-width: 1440px) {
  .main {
    font-size: 15px; }
  .navbar a {
    font-size: 14px; }
  .navbar i {
    font-size: 18px; }
  .productosRecomendados {
    justify-items: center;
    grid-template-columns: 0.2fr 0.2fr;
    grid-template-rows: 1fr;
    padding-bottom: 20px;
    grid-template-areas: "prodRecomBanner prodRecomBanner" "prodRecom1 prodRecom2" "prodRecom3 prodRecom4"; }
  .botonWhatsapp {
    font-size: 40px;
    width: 60px;
    height: 60px;
    line-height: 60px; }
  .sliderSponsors {
    height: 110px; }
  .bannerArmaTuPcMobile, .microprocesadorIntelMobile, .microprocesadorAmdMobile {
    display: none; }
  .tarjetaDeVideoNvidiaMobile, .tarjetaDeVideoAmdMobile, .tarjetaDeVideoIntelMobile {
    display: none; }
  .datosContacto {
    font-size: 20px;
    width: 300px;
    height: 30px; }
  .textAreaContacto {
    height: 200px;
    width: 400px; }
  .enviarResetContacto {
    font-size: 20px;
    height: 25px; }
  .mapaContacto {
    width: 700px;
    height: 500px; }
  .select {
    font-size: 20px;
    width: 200px;
    height: 25px; }
  .footer {
    font-size: 15px; }
  .footer p {
    font-size: 15px; }
  .socialFooter {
    font-size: 25px; }
  .ubicacionFooter {
    font-size: 15px; }
  .copyrightFooter {
    font-size: 15px; }
  .tarjetasFooter {
    height: 25px; }
  .tarjetasFooterDiv {
    grid-template-columns: repeat(3, 6%);
    grid-template-rows: 18% 18%;
    justify-content: center; } }

/* Laptop */
@media screen and (max-width: 1024px) {
  .navbar a {
    font-size: 15px; }
  .settings {
    display: flex;
    gap: 20px; }
  .settings i {
    margin: 1px;
    padding-top: 10px;
    padding-bottom: 10px; }
  .settingsText {
    padding-left: 2px;
    display: inline; }
  .navbar i {
    font-size: 15px; }
  .main {
    font-size: 15px; }
  .productosRecomendados {
    justify-items: center;
    grid-template-columns: 0.2fr 0.2fr;
    grid-template-rows: 1fr;
    padding-bottom: 20px;
    grid-template-areas: "prodRecomBanner prodRecomBanner" "prodRecom1 prodRecom2" "prodRecom3 prodRecom4"; }
  .botonWhatsapp {
    font-size: 25px;
    width: 45px;
    height: 45px;
    line-height: 45px; }
  .sliderSponsors {
    height: 90px; }
  .bannerArmaTuPcMobile, .microprocesadorIntelMobile, .microprocesadorAmdMobile {
    display: none; }
  .tarjetaDeVideoNvidiaMobile, .tarjetaDeVideoAmdMobile, .tarjetaDeVideoIntelMobile {
    display: none; }
  .datosContacto {
    font-size: 15px;
    width: 250px;
    height: 25px; }
  .textAreaContacto {
    height: 150px;
    width: 350px; }
  .enviarResetContacto {
    font-size: 15px;
    height: 20px; }
  .mapaContacto {
    width: 460px;
    height: 460px; }
  .select {
    font-size: 15px;
    width: 150px;
    height: 20px; }
  .contenedorLogin {
    width: 50vw; }
  .elegirMarcaPC {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px; }
  .recuadroElegirMarcaPCIntel, .recuadroElegirMarcaPCAMD {
    display: flex;
    min-width: 50vw;
    max-width: 70vw;
    height: 40vh; }
  .footer {
    font-size: 15px; }
  .footer p {
    font-size: 15px; }
  .socialFooter {
    font-size: 25px; }
  .ubicacionFooter {
    font-size: 15px; }
  .copyrightFooter {
    font-size: 15px; }
  .tarjetasFooter {
    height: 20px; }
  .tarjetasFooterDiv {
    grid-template-columns: repeat(3, 6%);
    grid-template-rows: 12% 12%;
    justify-content: center; } }

/* Tablet */
@media screen and (max-width: 768px) {
  .linkLogotipo {
    width: 100vw;
    display: flex;
    justify-content: center; }
  .main {
    font-size: 14px; }
  .sponsorsMain {
    height: 8vh; }
  .sliderSponsors {
    height: 60px; }
  .productosRecomendados {
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr repeat(4, 0.4fr);
    gap: 20px;
    margin-bottom: 20px;
    grid-template-areas: "prodRecomBanner" "prodRecom1" "prodRecom2" "prodRecom3" "prodRecom4"; }
  .prodRecomBoxShadow:hover {
    transform: scale(1);
    transition: 0s;
    box-shadow: 0px 0px 0px; }
  .prodRecomBanner {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr; }
  .bannerArmaTuPc, .microprocesadorIntel, .microprocesadorAmd {
    display: none; }
  .bannerArmaTuPcMobile, .microprocesadorIntelMobile, .microprocesadorAmdMobile {
    display: block;
    max-width: 500px; }
  .tarjetaDeVideoNvidia, .tarjetaDeVideoAmd, .tarjetaDeVideoIntel {
    display: none; }
  .tarjetaDeVideoNvidiaMobile, .tarjetaDeVideoAmdMobile, .tarjetaDeVideoIntelMobile {
    display: block;
    max-width: 500px; }
  .datosContacto {
    font-size: 14px;
    width: 250px;
    height: 25px; }
  .textAreaContacto {
    height: 150px;
    width: 250px;
    margin-left: auto;
    margin-right: auto; }
  .enviarResetContacto {
    font-size: 14px;
    height: 20px; }
  .mapaContacto {
    width: 260px;
    height: 260px; }
  .select {
    font-size: 14px;
    width: 150px;
    height: 20px; }
  .elegirMarcaPC {
    gap: 30px; }
  .recuadroElegirMarcaPCIntel, .recuadroElegirMarcaPCAMD {
    max-height: 20vh; }
  .contenedorLogin {
    width: 60vw; }
  .tarjetasFooter {
    height: 20px; }
  .tarjetasFooterDiv {
    grid-template-columns: repeat(3, 8%);
    grid-template-rows: 11% 11%;
    justify-content: center; } }

/* Mobile Xl */
@media screen and (max-width: 720px) {
  .main {
    font-size: 14px; }
  .main ul {
    text-align: center; }
  .main h4 {
    text-align: center; }
  .linkLogotipo {
    width: 97vw;
    display: flex;
    justify-content: center; }
  .sponsorsMain {
    max-width: 100vw;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr); }
  .sliderSponsors {
    height: 80px; }
  .sliderSponsors:hover {
    transform: scale(1); }
  .productosRecomendados img {
    width: 400px; }
  .botonWhatsapp {
    font-size: 30px;
    width: 50px;
    height: 50px;
    line-height: 50px; }
  .bannerArmaTuPc, .microprocesadorIntel, .microprocesadorAmd {
    display: none; }
  .bannerArmaTuPcMobile, .microprocesadorIntelMobile, .microprocesadorAmdMobile {
    display: block;
    max-width: 420px; }
  .tarjetaDeVideoNvidia, .tarjetaDeVideoAmd, .tarjetaDeVideoIntel {
    display: none; }
  .tarjetaDeVideoNvidiaMobile, .tarjetaDeVideoAmdMobile, .tarjetaDeVideoIntelMobile {
    display: block;
    max-width: 420px; }
  .contactoEmpresa {
    text-align: center; }
  .gridContacto {
    display: flex;
    flex-direction: column; }
  .gridContacto h4,
  p {
    text-align: center; }
  .datosContacto {
    font-size: 15px;
    width: 200px;
    height: 20px;
    margin-left: auto;
    margin-right: auto; }
  .gridContactoDerecha {
    padding: 0;
    padding-top: 20px; }
  .newsletter {
    margin-left: auto;
    margin-right: auto; }
  .gapRadioContacto {
    justify-content: center; }
  .textAreaContacto {
    height: 150px;
    width: 250px; }
  .enviarResetContacto {
    font-size: 15px;
    height: 20px;
    margin-left: auto;
    margin-right: auto; }
  .mapaContacto {
    width: 260px;
    height: 260px;
    margin-left: auto;
    margin-right: auto; }
  .select {
    display: flex;
    font-size: 15px;
    width: 150px;
    height: 20px; }
  .selectPosition {
    display: flex;
    justify-content: center;
    align-items: center; }
  .contenedorLogin {
    width: 80vw; }
  .elegirMarcaPC {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .recuadroElegirMarcaPCIntel, .recuadroElegirMarcaPCAMD {
    min-width: 70vw;
    height: 40vh; }
  .footer {
    font-size: 15px; }
  .footer p {
    font-size: 15px; }
  .socialFooter {
    font-size: 25px; }
  .ubicacionFooter {
    font-size: 15px; }
  .copyrightFooter {
    font-size: 15px; }
  .tarjetasFooter {
    height: 20px; }
  .tarjetasFooterDiv {
    grid-template-columns: repeat(3, 8%);
    grid-template-rows: 8% 8%;
    justify-content: center; } }

/* Mobile L */
@media screen and (max-width: 425px) {
  .main ul {
    text-align: center; }
  .main h4 {
    text-align: center; }
  .linkLogotipo {
    width: 97vw;
    display: flex;
    justify-content: center; }
  .sponsorsMain {
    max-width: 100vw;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr); }
  .sliderSponsors {
    height: 50px; }
  .sliderSponsors:hover {
    transform: scale(1); }
  .productosRecomendados img {
    width: 300px; }
  .navFlexbox li:hover .subNav {
    display: none; }
  .botonWhatsapp {
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px; }
  .bannerArmaTuPc, .microprocesadorIntel, .microprocesadorAmd {
    display: none; }
  .bannerArmaTuPcMobile, .microprocesadorIntelMobile, .microprocesadorAmdMobile {
    display: block;
    max-width: 325px; }
  .tarjetaDeVideoNvidia, .tarjetaDeVideoAmd, .tarjetaDeVideoIntel {
    display: none; }
  .tarjetaDeVideoNvidiaMobile, .tarjetaDeVideoAmdMobile, .tarjetaDeVideoIntelMobile {
    display: block;
    max-width: 325px; }
  .contactoEmpresa {
    text-align: center; }
  .gridContacto {
    display: flex;
    flex-direction: column; }
  .gridContacto h4,
  p {
    text-align: center; }
  .datosContacto {
    font-size: 10px;
    width: 200px;
    height: 20px;
    margin-left: auto;
    margin-right: auto; }
  .gridContactoDerecha {
    padding: 0;
    padding-top: 20px; }
  .newsletter {
    margin-left: auto;
    margin-right: auto; }
  .gapRadioContacto {
    justify-content: center; }
  .textAreaContacto {
    height: 150px;
    width: 250px; }
  .enviarResetContacto {
    font-size: 10px;
    height: 20px;
    width: 100px;
    margin-left: auto;
    margin-right: auto; }
  .enviarResetDiv {
    text-align: center; }
  .mapaContacto {
    width: 260px;
    height: 260px;
    margin-left: auto;
    margin-right: auto; }
  .select {
    display: flex;
    font-size: 10px;
    width: 150px;
    height: 20px; }
  .selectPosition {
    display: flex;
    justify-content: center;
    align-items: center; }
  .contenedorLogin {
    width: 80vw; }
  .elegirMarcaPC {
    gap: 20px; }
  .recuadroElegirMarcaPCIntel, .recuadroElegirMarcaPCAMD {
    max-height: 20vh; }
  .footer {
    font-size: 10px; }
  .footer p {
    font-size: 10px; }
  .socialFooter {
    font-size: 20px; }
  .ubicacionFooter {
    font-size: 10px; }
  .copyrightFooter {
    font-size: 10px; }
  .tarjetasFooter {
    height: 18px; }
  .tarjetasFooterDiv {
    grid-template-columns: repeat(3, 10%);
    grid-template-rows: 4% 4%;
    justify-content: center; } }

/* Mobile M */
@media screen and (max-width: 375px) {
  .main ul {
    text-align: center; }
  .main h4 {
    text-align: center; }
  .sponsorsMain {
    max-width: 100vw;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr); }
  .sliderSponsors {
    height: 50px; }
  .sliderSponsors:hover {
    transform: scale(1); }
  .productosRecomendados img {
    width: 280px; }
  .bannerArmaTuPc, .microprocesadorIntel, .microprocesadorAmd {
    display: none; }
  .bannerArmaTuPcMobile, .microprocesadorIntelMobile, .microprocesadorAmdMobile {
    display: block;
    max-width: 302px; }
  .tarjetaDeVideoNvidia, .tarjetaDeVideoAmd, .tarjetaDeVideoIntel {
    display: none; }
  .tarjetaDeVideoNvidiaMobile, .tarjetaDeVideoAmdMobile, .tarjetaDeVideoIntelMobile {
    display: block;
    max-width: 302px; }
  .enviarResetContacto {
    width: 100px; }
  .enviarResetDiv {
    text-align: center; }
  .contenedorLogin {
    width: 80vw; }
  .footer {
    display: flex;
    flex-direction: column; }
  .seccionesFooter {
    text-align: center; }
  .secciones {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 33px; }
  .socialFooter {
    font-size: 16px; }
  .tarjetasFooter {
    display: flex;
    height: 13px;
    justify-content: center; }
  .tarjetasFooterDiv {
    grid-template-columns: repeat(3, 2%);
    grid-template-rows: 2% 2%;
    justify-content: center; } }

/* Mobile S */
@media screen and (max-width: 320px) {
  .navbar > div.container-fluid {
    display: flex;
    justify-content: center; }
  .main ul {
    text-align: center; }
  .main h4 {
    text-align: center; }
  .sponsorsMain {
    max-width: 100vw;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr); }
  .bannerArmaTuPc, .microprocesadorIntel, .microprocesadorAmd {
    display: none; }
  .bannerArmaTuPcMobile, .microprocesadorIntelMobile, .microprocesadorAmdMobile {
    display: block;
    max-width: 265px; }
  .tarjetaDeVideoNvidia, .tarjetaDeVideoAmd, .tarjetaDeVideoIntel {
    display: none; }
  .tarjetaDeVideoNvidiaMobile, .tarjetaDeVideoAmdMobile, .tarjetaDeVideoIntelMobile {
    display: block;
    max-width: 265px; }
  .enviarResetContacto {
    width: 100px; }
  .enviarResetDiv {
    text-align: center; }
  .sliderSponsors {
    height: 50px; }
  .sliderSponsors:hover {
    transform: scale(1); }
  .productosRecomendados img {
    width: 240px; }
  .contenedorLogin {
    width: 80vw; }
  .footer {
    display: flex;
    flex-direction: column; }
  .seccionesFooter {
    text-align: center; }
  .secciones {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 33px; }
  .socialFooter {
    font-size: 16px; }
  .tarjetasFooter {
    display: flex;
    height: 13px;
    justify-content: center; }
  .tarjetasFooterDiv {
    grid-template-columns: repeat(3, 2%);
    grid-template-rows: 2% 2%;
    justify-content: center; } }

.divider {
  margin: 0px; }

body::-webkit-scrollbar {
  width: 7px;
  background: rgba(255, 255, 255, 0.9); }

body::-webkit-scrollbar-thumb {
  background: #616161; }
