@import './utilities/extend';
@import './utilities/mixins';
@import './sections/sponsors';
@import './sections/armatupc';
@import './sections/sobrenosotros';
@import './sections/contacto';
@import './layout/footer';
@import './sections/index';
@import './layout/navbar';
@import './sections/reset-variables';
@import './utilities/mediaquery';

.divider {
    margin: 0px;
}

body::-webkit-scrollbar {
    width: 7px;
    background: rgba(255, 255, 255, 0.9);
}

body::-webkit-scrollbar-thumb {
    background: rgb(97, 97, 97);
}