/* Elección de marca de CPU para el ensamble */

.elegirMarcaPC {
  display: flex;
  justify-content: space-around;
  /* Contenedor logotipo Intel en elección de CPU para ensamble */
  .recuadroElegirMarcaPCIntel {
    background-image: url(../images/intelrecuadro.png);
    @extend %recuadroElegirCpu;
  }

  /* Contenedor logotipo AMD en elección de CPU para ensamble */
  .recuadroElegirMarcaPCAMD {
    background-image: url(../images/amdrecuadro.png);
    @extend %recuadroElegirCpu;
  }
}
