/* ======================= Slider Promocional Main =======================*/
/* Comienzo main */
.main {
  background-color: var(--colorFondo);
}

h4 {
  font-size: 16px;
  font-weight: 700;
}

/* Boton whatsapp index fixed */
.botonWhatsapp {
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  @include colorFondoLetra(#0df053, white);
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
  &:hover {
    text-decoration: none;
    @include colorFondoLetra(white, #0df053);
    transition: 0.2s;
  }
}

.sponsorsMain {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  background-color: #ebebeb;
  height: 15vh;
  justify-items: center;
  align-content: space-evenly;
}

.sliderSponsors {
  height: 140px;
  &:hover {
    transform: scale(1.2);
    transition: 0.2s;
  }
}

.productosRecomendados {
  display: grid;
  justify-content: center;
  grid-template-columns: 20% 10% 10% 10% 10%;
  grid-template-rows: 0.5fr 0.5fr;
  gap: 20px 20px;
  margin: 20px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "prodRecomBanner prodRecom1 prodRecom1 prodRecom2 prodRecom2"
    "prodRecomBanner prodRecom3 prodRecom3 prodRecom4 prodRecom4";
}

.prodRecomTitulo {
  font-size: 15px;
  font-weight: 700;
  text-align: center;
}

.prodRecomBanner {
  grid-area: prodRecomBanner;
  overflow: hidden;
}
.prodRecomBanner img {
  width: 370px;
}

.prodRecom1 {
  grid-area: prodRecom1;
  background-color: #ebebeb;
}

.prodRecom2 {
  grid-area: prodRecom2;
  background-color: #ebebeb;
}

.prodRecom3 {
  grid-area: prodRecom3;
  background-color: #ebebeb;
}

.prodRecom4 {
  grid-area: prodRecom4;
  background-color: #ebebeb;
}

.prodRecomBoxShadow:hover {
  transform: scale(1.01);
  transition: 0.2s;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
}

.fotosSlider {
  width: 100vw;
  height: 30vw;
}

/* Clase para cuando necesite aplicar color negro a los anclas (reemplaza a 3 clases distintas anteriores)*/
.colorNegro {
  color: black;
}

.categoriasLiStyle {
  padding-top: 10px;
  list-style: none;
}

.sliderPromocional {
  display: flex;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  img {
    display: block;
    width: 100vw;
    height: auto;
  }
}

h1 {
  display: none;
}
