:root {
  --colorCorporativo: #ff0038;
  --colorCorporativoLight: #ffa5b89f;
  --colorCorporativoDark: #e00131;
  --colorFondo: #f4f4f4;
  --darkMode: #181818;
  --lightDarkMode: #2e2e2e;
}

* {
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  /* Footer siempre abajo */
  flex-direction: column;
  min-height: 100vh;
  /* Eliminar scroll lateral */
  overflow-x: hidden;
  background-color: var(--colorFondo);

  &.dark {
    // Navbar
    .navbar {
      color: white;
      background-color: #181818;
    }
    .navbar-brand {
      content: url("../images/logotipoheaderblanco.png")
    }
    .nav-link {
      color: white;
      &:hover {
        color: var(--colorCorporativo);
        transition: all .3s;
      }
    }
    .navSettings {
      color: white;
      &:hover {
        color: var(--colorCorporativo);
        transition: all .3s;
      }
    }
    
    .settingsText {
      color: white;
    }

    .dropdown-menu {
      background-color: #181818;
    }
    .dropdown-toggle {
      color: white;
    }
    .dropdown-item {
      color: white;
    }
    .navbar-toggler {
      background-color: white;
    }
    // Sponsors index.html
    .sponsorsMain {
      background-color: #181818;
    }
    .imgSponsors, .card-img-top {
      filter: invert(100%);
    }
    .main {
      color: white;
      background-color: #202020;
    }
    .sponsorCard {
      background-color: #181818;
    }
    .div-remaining {
      background-color: #202020;
    }
  }
}

/* Solución para imagenes borrosas al usar "transform: scale()", sacado de stack overflow */
.imgSponsors {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -ms-transform: translateZ(0); /* IE 9 */
  -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
  transform: translateZ(0);
}

/* Clase para aplicarle al main para darle padding sin afectar nada mas */
.paddingMain {
  padding: 30px;
}

/* Clase para aplicar magin en caso de que sea necesario */
.margin {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Padding para alejar un poco algunos elementos para abajo en caso de ser necesario sin crear más clases */
.paddingBottom {
  padding-bottom: 20px;
}

.paginaSeleccionada {
  color: var(--colorCorporativo);
}

.div-remaining { 
	flex: 1; 
} 
