section.cardContainerSponsors.row.container.text-center {
  margin: auto;
  padding: 0;
}

.textoSponsors {
  max-width: 70vw;
}

.cardContainerSponsors {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.sponsorCard {
  height: 380px;
  width: 230px;
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardCuerpo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  h5 {
    font-size: 15px;
    font-weight: bold;
  }
}

.sponsorsImagenAMD {
  background-position: center;
  background-size: cover;
  width: 200px;
  height: 200px;
  background-image: url(../images/amd.png);
}
.sponsorsImagenIntel {
  background-position: center;
  background-size: cover;
  width: 200px;
  height: 200px;
  background-image: url(../images/intel.png);
}
.sponsorsImagenRedragon {
  background-position: center;
  background-size: cover;
  width: 200px;
  height: 200px;
  background-image: url(../images/redragon.png);
}
.sponsorsImagenRazer {
  background-position: center;
  background-size: cover;
  width: 200px;
  height: 200px;
  background-image: url(../images/razer.png);
}
.sponsorsImagenLogitech {
  background-position: center;
  background-size: cover;
  width: 200px;
  height: 200px;
  background-image: url(../images/logitech.png);
}
.sponsorsImagenHyperX {
  background-position: center;
  background-size: cover;
  width: 200px;
  height: 200px;
  background-image: url(../images/hyperx.png);
}
.sponsorsImagenCorsair {
  background-position: center;
  background-size: cover;
  width: 200px;
  height: 200px;
  background-image: url(../images/corsair.png);
}
.sponsorsImagenCoolermaster {
  background-position: center;
  background-size: cover;
  width: 200px;
  height: 200px;
  background-image: url(../images/coolermaster.png);
}
.sponsorsImagenAsus {
  background-position: center;
  background-size: cover;
  width: 200px;
  height: 200px;
  background-image: url(../images/asus.png);
}
