# Node
.node_modules/
package-lock.json
package.json

# Sass
sass.md
scss/
layout/
_footer.scss
_navbar.scss
sections/
_armatupc.scss
_contacto.scss
_index.scss
_reset-variables.scss
_sobrenosotros.scss
_sponsors.scss
utilities/
_extend.scss
_mediaquery.scss
_mixins.scss

# VSCode
.vscode/

# Utilidades
seo.md
sitemap.xml