/* Diseño página contacto */

.datosContacto {
  height: 30px;
  width: 300px;
  border-radius: 5px;
  border: solid 1px black;
}

.gapRadioContacto {
  display: flex;
  gap: 10px;
}

.textAreaContacto {
  border-radius: 5px;
  width: 376px;
}

.enviarResetContacto {
  display: flex;
  width: 20vw;
  height: 30px;
  border-radius: 5px;
  background-color: white;
  border: solid 1px black;
  cursor: pointer;
  justify-content: center;
}

.enviarResetContacto:hover {
  background-color: var(--colorCorporativo);
  color: #ffffff;
  transition: 0.2s;
}

.iconosColorCorporativoContacto {
  padding-right: 5px;
  color: var(--colorCorporativo);
}

/* Estilo con grid enpágina de contacto */
.gridContacto {
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
}

.gridContactoDerecha {
  display: flex;
  padding-left: 200px;
  flex-direction: column;
}

.gridContactoIzquierda {
  display: flex;
  flex-direction: column;
}

::placeholder {
  text-align: center;
}
