/* Rectángulo de color corporativo arriba del header */
.rectanguloCabecera {
  width: 100vw;
  height: 0.5vh;
  min-height: 0.5vh;
  background-color: var(--colorCorporativo);
}

/* Navbar logotipo */
.navbar-brand {
  font-size: 30px;
  font-weight: 700;
  &:hover {
    transform: scale(0.98);
    transition: 0.2s;
  }
}

.nav-link {
  font-weight: 700;
  color: black;
  &:hover {
    color: var(--colorCorporativo);
    transition: 0.2s;
  }
}

.navbar,
.navbar-expand-lg {
  background-color: white;
}

.settings {
  display: flex;
  margin-right: 20px;
  a {
    text-decoration: none;
    color: black;
    &:hover {
      color: var(--colorCorporativo);
      transition: 0.2s;
    }
  }
}

.settingsText {
  display: none;
}

/* Estilo personalizado botones */
.btn {
  display: flex;
  flex-direction: row;
  width: 200px;
  justify-content: center;
  background-color: var(--colorCorporativo);
  border: 0;
  color: white;
  box-shadow: none;
  &:hover {
    background-color: var(--colorCorporativoDark);
    transition: 0.2s;
  }
  &:focus {
    background-color: var(--colorCorporativoDark);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.293);
  }
}

/* Estilo acordion "sobre nosotros" */
.accordion-button:not(.collapsed) {
  background-color: var(--colorCorporativoLight);
  color: black;
}

/* Usuario y ajustes navbar */
.navSettings {
  font-size: 20px;
  margin-left: 20px;
}

.settings .dropdown-item:hover {
  background-color: var(--colorCorporativo);
  color: white;
}

/* Boton desplegable en el boton de ajustes navnar */
.dropdown-item a:focus,
.dropdown-item:hover {
  background-color: var(--colorCorporativo);
  color: white;
  transition: 0.2s;
}

.dropdown-menu,
.show {
  --bs-dropdown-bg: rgba(255, 255, 255, 0.919);
  --bs-dropdown-link-active-bg: var(--colorCorporativo);
}

.form-control::placeholder {
  text-align: left;
}
